/*--demo-javascript3.css--*/
div {    height: 200px;
    width: 200px;
    background-color: rgb(31, 162, 44);
}
#miId {
    background-color: rgb(57, 0, 57);

}

.claseNueva {
    background-color: rgb(204, 214, 22);
}